version: « 3 »
services:
  mysqldb:
    image: mysql:8
    environment:
      - MYSQL_DATABASE=devops
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes

  devopsproject:
    image: fouratimage
    ports:
      - « 5052:8080 »
